<button class="btn btn-primary" [routerLink]="['/main-menu']">Back</button>

<div class="scoreboard-container">
  <h1>Placar</h1>
  <ul class="scoreboard-list">
    @if (scoreboard.length === 0){
    <li class="scoreboard-item empty-state">Nenhuma pontuação registrada ainda! Jogue!</li>
    } @for (entry of scoreboard; track $index){
    <li class="scoreboard-item">
      <span class="score-value">{{ entry.score }} pontos</span>
      <span class="difficulty">Difficulty: {{ entry.difficulty }}</span>
      <span class="timestamp">{{ entry.timestamp }}</span>
    </li>
    }
  </ul>
  <button class="btn btn-danger-outline" (click)="clearScoreboard()">Limpar Placar</button>
</div>
