<button class="btn btn-danger" [routerLink]="['/main-menu']">Surrender</button>
<div class="game-container">
  <div class="infos">
    @if (playerWon){
    <span>YOU WIN, CONGRATS!</span>
    } @if (gameIsOver){
    <span>you lose, noob</span>
    <span>the number was {{ secretNumber }}</span>
    }
    <span>Difficulty: {{ difficultyChosen }}</span>
    <span>Remaining Attempts: {{ maxAttempts - actualAttempt }}</span>
    <span>score: {{ score }}</span>
  </div>
  <main class="main-layout">
    <label class="tip-higherThan">{{ tipIsHigherThan }}></label>
    <div class="game-center">
      <input class="number-input" type="number" min="1" max="100" [(ngModel)]="numberInput" />
      <div class="action-btns">
        <button 
          [class.hiddear]="gameIsOver || playerWon" 
          (click)="guess()"
          class="btn btn-primary"
        >
          Guess
        </button>
        <button
          [class.hiddear]="!(gameIsOver || playerWon)"
          (click)="restart()"
          class="btn btn-restart"
        >
          Restart
        </button>
      </div>
    </div>
    <label class="tip-lowerThan"><{{ tipIsLowerThan }}</label>
  </main>
</div>
